body {

}
tr.fila1 {
  background-color: #EE5745;
  color: white;
}

tr.fila2 {
  background-color: white;
}
td.mensual {

}
span.mensual {
  font-size:20px;
  font-family: "Helvetica";
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
span.precio1 {
  font-size:60px;
  font-family: "Helvetica";
  font-weight: bold;
}
table {
  background-color: #F7F7F7;
  border-collapse: separate;
  border-spacing: 20px 5px;
}
button {
  background-color: #EE5745;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
