h1 {
  color: red;
}
a {
  color: blue;
  font-weight: bold;
  font-family: "Arial";
}
p {
  color: #8B0000;
  font-size: 26px;
  margin: 0px 0px 0px 0px;
}
body {
  background-image: url("bg85.gif");
}
img {
  border-color: red;
  border-style: solid;
  padding-left:  10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 15px 20px 300px;
}
