h1 {
  color: teal;
}
h2 {
  color: blue;
}
td > strong {
  color: orange
}
strong{
  color: red;
}
span[class=destacado] {
  color:orange;
}
a {
  color: red;
}
a > em {
  color:blue;
}
span[class=especial]{
  color: purple;
}
caption {
  color: blue;
}
th {
  color: red;
}
th[class=especial]{
  color: orange;
}
td {
  color: green;
}
div {
  color: olive;
}
span[id=especial] {
  color: fuchsia;
}
p > a {
  color: green;
}
table {
  border-collapse:collapse
  border:1px solid black;
}
